body { font-family: sans-serif; background-color: #eef3f6; padding: 2em; }
h1, h2, h3 { color: #222; }
input, button { margin: 0.5em; padding: 0.5em; }
table { width: 100%; border-collapse: collapse; margin-top: 1em; }
td, th { border: 1px solid #ccc; padding: 0.5em; text-align: center; }